button{
    outline: none;
    border: 2px solid #356EFF;
    border-radius: 4px;
    padding: 10px 20px;
    color: #356EFF;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background: #356EFF;
    color: #fff;
}